{% extends 'base.html.twig' %}

{%

set scripts = [
  {
    'name': 'front-core',
    'file': 'amuse-front.js'
  }
]

%}

{% block stylesheets %}
<link href="{{ asset('css/amuse-front.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
{{ include('frontend/parts/header.html.twig') }}

<main role="main">
{% block bodyContent %}{% endblock %}
</main>

{{ include('frontend/parts/footer.html.twig') }}
{% endblock %}

{% block javascripts %}
{{ include('common/parts/script-tag.html.twig',{'scripts': scripts}) }}
{% endblock %}
