<!DOCTYPE html>
<html lang="{{ page_locale }}">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}@muse{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
</html>
