{% extends 'frontend/layouts/base.html.twig' %}

{% block title %}{{ parent() }} :: {{ 'label.home'|trans }}{% endblock %}

{% block bodyContent %}
{{ render(url('fos_user_security_login')) }}

<a href="{{ path('fos_user_registration_register') }}">{{ 'label.register'|trans }}</a>
{% endblock %}
