{% extends 'backend/layouts/base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/amuse-back.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}{{ parent() }} :: Accueil{% endblock %}

{% block bodyContent %}
  Index back dashboard
{% endblock %}
