
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <div><input type="hidden" name="_csrf_token" value="{{ csrf_token }}" /></div>
    
    <p><label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /></p>

    <p><label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" /></p>

    <p><input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label></p>

    <p><input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" /></p>
</form>
{% endif %}
{% endblock fos_user_content %}
